{% extends "base.html" %}

{% block title %}
ثبت نام
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm">

            <div class="card-body p-4">

                <h3 class="text-center mb-4">
                    ایجاد حساب
                </h3>

                <form method="post">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label">
                            نام کاربری
                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            required
                        >

                    </div>


                    <div class="mb-3">

                        <label class="form-label">
                            ایمیل
                        </label>

                        <input
                            type="email"
                            name="email"
                            class="form-control"
                        >

                    </div>


                    <div class="mb-3">

                        <label class="form-label">
                            رمز عبور
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required
                        >

                    </div>


                    <div class="mb-3">

                        <label class="form-label">
                            تکرار رمز عبور
                        </label>

                        <input
                            type="password"
                            name="password2"
                            class="form-control"
                            required
                        >

                    </div>


                    <button
                        type="submit"
                        class="btn btn-primary w-100">

                        ثبت نام

                    </button>

                </form>


                <div class="text-center mt-3">

                    حساب دارید؟

                    <a href="{% url 'login' %}">
                        ورود
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}