{% extends "base.html" %}


{% block title %}
حذف درس
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-header bg-danger text-white">

                <h4 class="mb-0">

                    <i class="bi bi-exclamation-triangle"></i>

                    حذف درس

                </h4>

            </div>


            <div class="card-body text-center">

                <p class="fs-5">

                    آیا مطمئنی می‌خواهی درس

                    <strong>
                        {{ course.name }}
                    </strong>

                    را حذف کنی؟

                </p>

                <p class="text-danger">

                    این عملیات قابل بازگشت نیست.

                </p>


                <form method="post">

                    {% csrf_token %}

                    <div class="d-flex justify-content-center gap-2">

                        <a href="{% url 'courses:detail' course.pk %}" class="btn btn-secondary">

                            انصراف

                        </a>


                        <button type="submit" class="btn btn-danger">

                            <i class="bi bi-trash"></i>

                            بله، حذف شود

                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}