{% extends "base.html" %}


{% block title %}
حذف تکلیف
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-body text-center">

                <i class="bi bi-exclamation-triangle text-danger fs-1"></i>


                <h4 class="mt-3">
                    حذف تکلیف
                </h4>


                <p>

                    آیا مطمئن هستید که می‌خواهید تکلیف

                    <strong>
                        {{ task.title }}
                    </strong>

                    را حذف کنید؟

                </p>


                <form method="post">

                    {% csrf_token %}


                    <button type="submit" class="btn btn-danger">

                        بله، حذف کن

                    </button>


                    <a href="{% url 'tasks:list' %}" class="btn btn-secondary">

                        انصراف

                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}